<div class="previous-tasks">

  <div class="completed-tasks">
    <h3 class="task-name">Completed Tasks:</h3>
    <div ng-repeat="task in history.tasks">
      <ul>
        <li ng-show="history.completed(task)"><del>{{ task.name }}</del><button class="btn btn-primary btn-xs lef" ng-click="history.restore(task.$id, task.name, task.priority)">restore</button><button class="btn btn-danger btn-xs" ng-click="history.del(task)">delete</button></li>
      </ul>
    </div>
  </div>

  <div class="expired-tasks">
    <h3 class="task-name">Expired Tasks:</h3>
    <div ng-repeat="task in history.tasks">
      <ul>
        <li ng-show="history.expired(task)">{{ task.name }}<button class="btn btn-primary btn-xs lef" ng-click="history.restore(task.$id, task.name, task.priority)">restore</button><button class="btn btn-danger btn-xs" ng-click="history.del(task)">delete</button></li>
      </ul>
    </div>
  </div>

</div>
